{% load static %}
<!doctype html>
<html>
  <head>
    <title>Blogs</title>
    <!-- <link rel="stylesheet" href="{% static "book-review.css" %}"> -->
  </head>
  <body>
    <header>
      <div>My Blogs</div>
    </header>
    <main>

        <h3>Post</h3>
        <p>
          To most of us, learning something “the hard way”
          implies wasted time and effort. Good teaching, we
          believe, should be creatively tailored to the
          different learning styles of students and should
          use strategies that make learning easier. Make It
          Stick turns fashionable ideas like these on their
          head. Drawing on recent discoveries in cognitive
          psychology and other disciplines, the authors
          offer concrete techniques for becoming more
          productive learners.
        </p>
      </div>

    </main>
    <footer>
      <div>
        Copyright 2022 by Gregory Robertson
      </div>
      <p>
        This is my site that contains all of my blogs
        that you can read to see if you'd like that post.
      </p>
    </footer>
  </body>
</html>